<head>
    <meta charset="UTF-8">
    <title>ADD TO HELLO</title>
    <style>
        .floating-box1 {
            float: left;
            width: 150px;
            height: 50px;
            margin: 50px;
        }
        .floating-box2 {
            display: inline-block;
            width: 240px;
            height: 75px;
            margin: 50px;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 30%;
        }
        td, th {
            border: 1px solid #000000;
            text-align: center;
            padding: 10px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
{% block body-content %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">
          {% block sidebar %}
          <ul class="sidebar-nav">
              <li><a href="{% url 'main' %}">HOME</a></li>
          </ul>
         {% endblock %}
          </div>
          <div class="col-sm-10 ">
          {% block content %}{% endblock %}
      </div>
    </div>





    <div class="floating-box1">
    <h1>SEND</h1>
    <form action="" method="post" autocomplete="on">
    {% csrf_token %}
        <br>FROM : <input type = "text" name="user_name1" maxlength="30" required/><br>
        <br>TO : <input type = "text" name="user_name2" maxlength="30" required/><br>
        <br>MESSAGE : <input type = "text" name="message" /><br>
    <br><input type="submit" value="Submit" /><br>
    </form>

    {{ message }}
    </div>
    <div class="floating-box1">
        <h1><a href="{% url 'panel' %}">USERS</a></h1>
        <table>
          <tr>
              <th>USER_NAME</th>
          </tr>
        {% for i in array %}
            <tr />
                <td><b>{{ i }}</b></td>
            <tr />
        {% endfor %}
        </table>
    </div>



    <div class="floating-box2">
        <h1><a href="{% url 'msg_panel' %}">MESSAGES</a></h1>
        <table>
          <tr>
              <th>FROM</th>
              <th>TO</th>
              <th>MESSAGE</th>
          </tr>
        {% for i in msarray %}
            <tr />
                <td><b>{{ i.0 }}</b></td>
                <td><b>{{ i.1 }}</b></td>
                <td><i>{{ i.2 }}</i></td>
            <tr />
        {% endfor %}
        </table>
    </div>
{% endblock %}
</div>