<head>
    <meta charset="UTF-8">
    <title>PANEL</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 20%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
{% block body-content %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">
          {% block sidebar %}
          <ul class="sidebar-nav">
<!--            <li><a href="{% url 'main' %}">HOME</a></li> -->
            <li><button onclick="goBack()">Go Back</button></li>
              <script>
                function goBack() {
                window.history.back();
                }
              </script>
          </ul>
         {% endblock %}
          </div>
          <div class="col-sm-10 ">
          {% block content %}{% endblock %}
      </div>
    </div>




    <h1>USERS</h1>
    <table>
      <tr>
          <th>NUMBER</th>
          <th>USER_NAME</th>
          <th>FULLNAME</th>
          <th>PASSWORD</th>
      </tr>
    {% for i in array %}
        <tr />
            <td>{{ i.0 }}</td>
            <td>{{ i.1 }}</td>
            <td>{{ i.2 }}</td>
            <td>{{ i.3 }}</td>
        <tr />
    {% endfor %}
    </table>
{% endblock %}

</div>