{% block content %}
    <form action="" method="post" >
        {% csrf_token %}
        <br>SID : <input type = "number" name="sid" min = "1" max = "2147483646"/><br>
        <br><input type="submit" value="Submit" /><br>
    {{ message }}
    </form>
{% endblock %}