<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
    <h1>THIS IS THE ADMIN VIEW</h1>
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
 <!--         <li><a href="{% url 'panel'%}">LIST USERS</a></li>
          <li><a href="{% url 'msg_panel'%}">LIST MESSAGES</a></li> -->
          <li><a href="{% url 'user_name' %}">ADD USER</a></li>
          <li><a href="{% url 'message' %}">SEND MESSAGE</a></li>
      </ul>
      {{ user }}
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>