<head>
    <meta charset="UTF-8">
    <title>ADD TO HELLO</title>
</head>
{% block body-content %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">
          {% block sidebar %}
          <ul class="sidebar-nav">
              <li><a href="{% url 'main' %}">Home</a></li>
              <li><a href="{% url 'panel' %}">Panel</a></li>
              <li><a href="{% url 'name' %}">Add To Hello</a></li>
          </ul>
         {% endblock %}
          </div>
          <div class="col-sm-10 ">
          {% block content %}{% endblock %}
      </div>
    </div>






    <form action="" method="post">
    {% csrf_token %}
        <br>SID : <input type = "number" name="sid" min = "1" max = "2147483646"/><br>
        <br>NAME : <input type = "text" name="your-name" maxlength="30" required/><br>
        <br>PASSWORD : <input type = "text" name="password" maxlength="30" required/><br>
    <br><input type="submit" value="Submit" /><br>
    </form>

{{ message }}
{% endblock %}
</div>