<head>
    <meta charset="UTF-8">
    <title>ADD TO HELLO</title>
     <style>
        .floating-box1 {
            float: left;
            width: 151px;
            height: 50px;
            margin: 50px;
        }
        .floating-box2 {
            display: inline-block;
            width: 240px;
            height: 75px;
            margin: 50px;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 30%;
        }
        td, th {
            border: 1px solid #000000;
            text-align: center;
            padding: 10px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
{% block body-content %}
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">
          {% block sidebar %}
          <ul class="sidebar-nav">
              <li><a href="{% url 'main' %}">HOME</a></li>
          </ul>
         {% endblock %}
          </div>
          <div class="col-sm-10 ">
          {% block content %}{% endblock %}
      </div>
    </div>





    <div class="floating-box1">
        <h1>ADD</h1>
        <form action="" method="post">
        {% csrf_token %}
            <br>YOUR NUMBER: <input type = "number" name="number" min = "1" max = "2147483646" maxlength="10" required/><br>
            <br>YOUR USER_NAME: <input type = "text" name="your-user_name" maxlength="30" required/><br>
            <br>YOUR NAME: <input type = "text" name="your-name" maxlength="30" required/><br>
            <br>PASSWORD: <input type = "text" name="password" maxlength="6" required/><br>
        <br><input type="submit" value="Submit" /><br>
        </form>
        {{ message }}
    </div>


    <div class="floating-box2">
        <h1><a href="{% url 'panel' %}">USERS</a></h1>
            <table>
              <tr>
                  <th>NUMBER</th>
                  <th>USER_NAME</th>
                  <th>FULLNAME</th>
                  <th>PASSWORD</th>
              </tr>
            {% for i in array %}
                <tr />
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>{{ i.3 }}</td>
                <tr />
            {% endfor %}
            </table>
        {% endblock %}
    </div>
</div>